[user]
	name = alex bishara
	email = abishara@cs.stanford.edu
[push]
	default = simple
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore
[merge]
  tool = vimdiff
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  d = difftool
